$darkRed: #500000;
$baseRed: #b02860;
$lightRed: #f84070;

$darkYellow: #d8a038;
$lightYellow: #f8d870;

$white: #ffffff;
$black: #000000;
$brown: #885818;

$darkSkin: #f87068;
$lightSkin: #f8d0c0;

$darkBlue:#203088;
$baseBlue: #408098;
$lightBlue: #80d8c8;