$frameZero: (
  line-01: undefined,
  
  line-02: undefined undefined undefined undefined undefined undefined undefined $darkRed $darkRed $darkRed $darkRed $darkRed,
  
  line-03: undefined undefined undefined undefined undefined $darkRed $darkRed $lightRed $lightRed $lightYellow $lightRed $lightRed $darkRed,
  
  line-04: undefined undefined undefined undefined $darkRed $lightRed $lightRed $baseRed $darkYellow $lightYellow $white $baseRed $darkRed,
  
  line-05: undefined undefined undefined $darkRed $lightRed $baseRed $baseRed $black $black $black $black $black $black $black,
  
  line-06: undefined undefined $darkRed $lightRed $baseRed  $black $black $black $black $black $black $black $black $black $black,
  
  line-07: undefined $darkRed $baseRed $baseRed $black $black $black $black $black $black $black $black $black $black $black,

  line-08: undefined $darkRed $baseRed $baseRed $black $black $darkSkin $white $white $darkSkin $white $white $black $black,

  line-09: undefined $darkSkin $lightSkin $black $black $darkSkin $darkSkin $white $black $lightSkin $black $white,

  line-10: $darkSkin $brown $lightSkin $black $black $darkSkin $lightSkin $white $black $lightSkin $black $white $lightSkin $brown,

  line-11: $darkSkin $brown $darkSkin $black $black $black $lightSkin $lightSkin $darkSkin $darkSkin $lightSkin $lightSkin $lightSkin $brown,

  line-12: undefined $darkSkin $darkSkin $darkSkin $black $lightSkin $lightSkin $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $brown,

  line-13: undefined $black $black $darkSkin $darkSkin $darkSkin $black $black $black $black $black $black $black $black $black,

  line-14: undefined undefined $black $black $darkSkin $darkSkin $lightSkin $lightSkin $black $black $black $black $black $black,

  line-15: undefined undefined undefined $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $brown,

  line-16: undefined undefined undefined undefined $darkRed $baseRed $baseRed $darkRed $darkRed $brown $brown $brown,

  line-17: undefined undefined undefined $darkRed $lightRed $lightRed $darkRed $baseRed $brown $white $white $white $brown,

  line-18: undefined undefined $darkRed $baseRed $lightRed $lightRed $lightRed $brown $white $white $white $white $white $brown,

  line-19: undefined undefined $darkRed $baseRed $baseRed $lightRed $lightRed $brown $white $white $white $white $white $brown,

  line-20: undefined undefined $darkBlue $darkRed $baseRed $baseRed $lightRed $baseRed $brown $white $white $white $brown,

  line-21: undefined undefined $darkBlue $darkBlue $darkRed $baseRed $baseRed $darkRed $darkRed $brown $brown $brown $white,

  line-22: undefined undefined $darkBlue $baseBlue $darkBlue $darkRed $darkRed $darkRed $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,

  line-23: undefined undefined $darkBlue $baseBlue $baseBlue $baseBlue $lightBlue $lightBlue $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,

  line-24: undefined undefined undefined $darkBlue $baseBlue $baseBlue $baseBlue $lightBlue $lightBlue $darkBlue $baseBlue $darkBlue,

  line-25: undefined undefined undefined $darkBlue $baseBlue $baseBlue $baseBlue $baseBlue $baseBlue $darkBlue $baseBlue $darkBlue,

  line-26: undefined undefined undefined undefined $darkBlue $darkBlue $darkBlue $darkBlue $darkBlue $darkBlue $darkBlue,

  line-27: undefined undefined undefined undefined $brown $brown $brown $brown $brown $black $brown $black,

  line-30: undefined undefined undefined undefined $black $brown $brown $brown $brown $lightYellow $black $lightYellow $black,

  line-31: undefined undefined undefined undefined $black $black $black $black $black $black $black $black $black

);

$frameOne: (
  
  line-01: undefined undefined undefined undefined undefined undefined undefined $darkRed $darkRed $darkRed $darkRed $darkRed,
  
  line-02: undefined undefined undefined undefined undefined $darkRed $darkRed $lightRed $lightRed $lightYellow $lightRed $lightRed $darkRed,
  
  line-03: undefined undefined undefined undefined $darkRed $lightRed $lightRed $baseRed $darkYellow $lightYellow $white $baseRed $darkRed,
  
  line-04: undefined undefined undefined $darkRed $lightRed $baseRed $baseRed $black $black $black $black $black $black $black,
  
  line-05: undefined undefined $darkRed $lightRed $baseRed  $black $black $black $black $black $black $black $black $black $black,
  
  line-06: undefined $darkRed $baseRed $baseRed $black $black $black $black $black $black $black $black $black $black $black,

  line-07: undefined $darkRed $baseRed $baseRed $black $black $darkSkin $white $white $darkSkin $white $white $black $black,

  line-08: undefined $darkSkin $lightSkin $black $black $darkSkin $darkSkin $white $black $lightSkin $black $white,

  line-09: $darkSkin $brown $lightSkin $black $black $darkSkin $lightSkin $white $black $lightSkin $black $white $lightSkin $brown,

  line-10: $darkSkin $brown $darkSkin $black $black $black $lightSkin $lightSkin $darkSkin $darkSkin $lightSkin $lightSkin $lightSkin $brown,

  line-11: undefined $darkSkin $darkSkin $darkSkin $black $lightSkin $lightSkin $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $brown,

  line-12: undefined $black $black $darkSkin $darkSkin $darkSkin $black $black $black $black $black $black $black $black $black,

  line-13: undefined undefined $black $black $darkSkin $darkSkin $lightSkin $lightSkin $black $black $black $black $black $black,

  line-14: undefined undefined undefined $black $brown $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $darkSkin $brown,

  line-15: undefined undefined undefined $darkRed $darkRed $baseRed $baseRed $darkRed $darkRed $brown $brown,

  line-16: undefined undefined $darkRed $lightRed $lightRed $brown $brown $brown $baseRed $baseRed $darkBlue $darkRed,

  line-17: undefined $darkRed $lightRed $lightRed $brown $white $white $brown $brown $lightRed $baseRed $baseBlue $brown $brown,

  line-18: undefined $darkRed $baseRed $brown $white $white $white $white $white $brown $lightRed $baseRed $lightBlue $white $brown,

  line-19: undefined $darkRed $baseRed $brown $white $white $white $white $white $brown $lightBlue $baseBlue $white $brown $brown,

  line-20: undefined undefined $darkRed $darkRed $brown $white $white $white $brown $white $lightBlue $lightBlue $white $darkBlue,

  line-21: undefined undefined $darkBlue $baseBlue $baseBlue $brown $brown $brown $lightBlue $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,

  line-22: undefined undefined undefined $darkBlue $baseBlue $baseBlue $lightBlue $lightBlue $lightBlue $lightBlue $lightBlue $lightBlue $baseBlue $darkBlue,

  line-23: undefined undefined $darkBlue $darkBlue $baseBlue $baseBlue $baseBlue $lightBlue $baseBlue $baseBlue $lightBlue $lightBlue $baseBlue $darkBlue $black,

  line-24: undefined $black $brown $darkBlue $darkBlue $darkBlue $baseBlue $baseBlue $darkBlue $darkBlue $baseBlue $baseBlue $darkBlue $lightYellow $brown $black,

  line-25: undefined $black $brown $brown $darkBlue $darkBlue $darkBlue $darkBlue $darkBlue undefined $darkBlue $brown $brown $brown $black $black,

  line-26: undefined $black $brown $brown $brown $brown $black undefined undefined undefined $black $brown $black $black $black $black,

  line-27: undefined undefined $black $brown $brown $brown $lightYellow $black undefined undefined $black $black $black $black $black,

  line-28: undefined undefined undefined $black $black $black $black $black undefined undefined undefined $black $black

);