@import "mixins";
@import "colors";
@import "functions";
@import "pixelmaps";

$squareSize: 10px;

.mario-holder{

  width: $squareSize*8;
  height: $squareSize*12;
  position:absolute;

  /* animation : moveForward 5s linear infinite alternate;*/

}

.mario{

  width: $squareSize;
  height: $squareSize;
  background-color: rgba(0,0,0,0.0);

  &.frametwo,
  &.framezero{
    @include box-shadow(generate-pixelart($squareSize,$frameZero))
  }

  &.frameone{
    @include box-shadow(generate-pixelart($squareSize,$frameOne))
  }

  &.framethree{
    @include box-shadow(generate-pixelart($squareSize,$frameThree))
  }
}

@keyframes moveForward {
  0% {
    transform: scaleX(1) translateX(0%);
  }

 100% {
    transform: scaleX(1) translateX(400px);
  }
}

@keyframes flipMove {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(-1);
  }
}

@keyframes moveBackward {
  0% {
    transform: scaleX(-1) translateX(-400px);
  }

  100% {
    transform: scaleX(-1) translateX(0px);
  }
}